@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

html { scroll-behavior: smooth; }

.contact-bg {
    background-image: url("../images/ghana-beach-sml.jpg")!important;
}

.home-bg {
    background-image: url("../images/ghana-beach-sml.jpg")!important;
}

.fa-1x {
font-size: 1.5rem;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light2 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(138, 108, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}

.navbar-light 
.navbar-nav 
.active>.nav-link, 
.navbar-light 
.navbar-nav 
.nav-link
.active, 
.navbar-light 
.navbar-nav 
.nav-link.show, 
.navbar-light 
.navbar-nav 
.show>.nav-link {
    color: rgb(255 255 255 / 90%);
}

.navbar-light 
.navbar-nav 
.nav-link {
    color: rgb(255 255 255 / 100%);
}

.nav-link {
    color: rgb(255 255 255 / 100%);
}

.nav-link:hover {
    color: #4d6871;
}

.nav-link2 {
    color: rgb(138, 108, 24);
    display: block;
    padding: .1rem rem;
}

.nav-link2:hover {
    color: #4d6871;
}

.nav-link3 {
    color: rgb(138, 108, 24);
    display: block;
    padding: .1rem rem;
    background-color: rgb(255 255 255 / 80%);
}


.navbar-toggler3 {
    background-color: rgb(255 255 255 / 80%);
    border: 0px;
    padding: 6px;
}

.nav-link3:hover {
    color: #4d6871;
}

ul {
  list-style-type: none;
}

.bg-custom { 
    background-image: url("../images/ghana-beach-sml.jpg")!important; 
    color: white !important;
    }

.navbar-toggleable-md {
cursor: pointer;
}

.navbar {
color: white !important;
background-color: rgba(0,0,0,0.2)!important;
position: fixed;
z-index: 100000;
}

.navbar2 {
color: rgb(138, 108, 0) !important;
background-color: rgba(0,0,0,0.2)!important;
position: fixed;
z-index: 100000;
}

.navbar3 {
color: rgb(138, 108, 0) !important;
background-color: rgba(255, 255, 255, 0.5)!important;
position: fixed;
z-index: 100000;
}

span.navbar-toggler-icon {
    color: white !important;
}

button.navbar-toggler {
    color: white !important;
}

.bg-light {
background: rgba(0, 0, 255, 0) !important; 
}

.navbar-light .navbar-toggler {
    border-color: rgb(179 179 179 / 10%);
}

.dropdown-menu {
    color: grey !important;
}

.dropdown-item {
    color: grey !important;
}

.row {
    margin: auto;
}

.home-image {
    background-image: url("../images/ghana-beach-sml.jpg");
    margin-left: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    min-width: 100vw; 
    /*height: 100%;
    width: 100%; */
}

.bg-image-img2 { 
    background-image: url("../images/festival1.jpg");
    min-height: 900px;
    min-width: 100vw;
    background-size: cover;
    }

.bg-image-img3 { 
    background-image: url("../images/e1.jpg");
    min-height: 900px;
    min-width: 100%;
    background-size: cover;
    padding-bottom: 0px;
    }

.overlay {
    position: absolute;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(47 116 144 / 0.25);
}

.logo {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 2rem;
    width: 20%;
    text-align: center;
    margin-top: 30px;
    margin-left: 550px;
    color: #fff;
    border: 3px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
}

.my-3 {
    margin-top: ($spacer *) !important;
}

.btn1 {
  position: absolute;
  top: 50%;
  left: 25%;
  background-color: rgba(0,0,0, 0.3);
  color: rgba(255, 255, 255);
  font-size: 16px;
  padding: 12px 24px;
  border: 3px solid white;
  cursor: pointer;
}

.btn2 {
  position: absolute;
  top: 50%;
  right: 26%;
  background-color: rgba(0,0,0, 0.3);
  color: rgba(255, 255, 255);
  font-size: 16px;
  padding: 12px 24px;
  border: 3px solid white;
  cursor: pointer;
}

.btn3 {
  position: absolute;
  bottom: 50%;
  left: 45%;
  background-color: rgba(0,0,0, 0.7);
  color: rgb(255, 255, 255);
  font-size: 23px;
  padding: 12px 24px;
  border: 3px solid white;
  cursor: pointer;
}

.btn4 {
  position: absolute;
  bottom: 50%;
  left: 45%;
  background-color: rgba(0,0,0, 0.7);
  color: rgb(255, 255, 255);
  font-size: 23px;
  padding: 12px 24px;
  border: 3px solid white;
  cursor: pointer;
}

.btn5 {
  position: absolute;
  bottom: 50%;
  left: 35%;
  background-color: white;
  color: #8A6C00;
  font-size: 15px;
  padding: 12px 24px;
  border: 3px solid white;
  cursor: pointer;
}

.btn1:hover {
  background: #8A6C00;
  border-color: #8A6C00;
}

.btn2:hover {
  background: #8A6C00;
  border-color: #8A6C00;
}

.btn3:hover {
  background: #8A6C00;
  border-color: #8A6C00;
}

.btn4:hover {
  background: #8A6C00;
  border-color: #8A6C00;
}

.btn5:hover {
  background: #4d6871;
  border-color: #4d6871;
}

.backtotop {
    position: fixed;
    z-index: 2;
    bottom: 0;
}

/*.arrow-down {
  border: solid white;
  font-size: 5px;
  margin-left: 50%;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}*/

.about-logo {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 2rem;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    margin-left: 120%;
    border: 3px solid #8A6C00;
    padding: 12px 10px;
    background: #8A6C00;
    color: white;
    white-space: nowrap;
}

.about-bg {
    background-image: url("../images/ghana-beach-sml.jpg");
    min-height: 100px;
}

.about-title {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: -500px;
    font-size: 27px;
    white-space: nowrap;
    color: #8A6C00;
}

.about-img {
    background-image: url("../images/friends.jpg");
    background-repeat: no-repeat;
    margin-left: 39%;
    min-height: 475px;
    min-width: 300px;
}

.about-us {
    width: 570px;
    text-align: center;
    color: #8A6C00;
    background-color: rgb(255 255 255 / 80%);
    padding: 10px 10px;
    margin-left: 29%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.about-br {
    margin-top: 5%;
    margin-bottom: 5%;
}

.bg-image-img4 {
    background-image: url("../images/festival1.jpg");
    margin-top: 40px;
    min-height: 500px;
    min-width: 70px;
}

/*.bg-image-img4:hover {
transform: scale(1.5)
}*/

.bg-image-img5 {
    background-image: url("../images/ghana-beach2-sml.jpg");
    margin-top: -500px;
    margin-left: 500px;
    min-height: 500px;
    min-width: 100px;
}

.btn6 {
  position: absolute;
  bottom: 50%;
  left: 39%;
  background-color: white;
  color: #8A6C00;
  font-size: 15px;
  padding: 12px 24px;
  border: 3px solid white;
  cursor: pointer;
}

.btn6:hover {
  background: #4d6871;
  border-color: #4d6871;
}

.bg-image-img6 {
    background-image: url("../images/aburi-sml.jpg");
    margin-top: -500px;
    margin-left: 1000px;
    min-height: 500px;
    min-width: 70px;
}

.btn7 {
  position: absolute;
  bottom: 50%;
  left: 40%;
  background-color: white;
  color: #8A6C00;
  font-size: 15px;
  padding: 12px 24px;
  border: 3px solid white;
  cursor: pointer;
}

 .btn7:hover {
  background: #4d6871;
  border-color: #4d6871;
}

.festival-logo {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 30px;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    margin-left: 127%;
    border: 3px solid #8A6C00;
    padding: 12px 10px;
    background: #8A6C00;
    color: white;
    white-space: nowrap;
}

.festival-title {
    text-align: center;
    margin-top: 180px;
    margin-left: -850%;
    font-size: 27px;
    white-space: nowrap;
    color: #8A6C00;
    
}

.headline-fst {
    font-size: 1.3rem;
    width: 610px;
    text-align: left;
    color: #8A6C00;
    margin-left: 56%;
    margin-bottom: -4%;
    text-decoration: underline;
    margin-top: -1550px;
}

h5 {
    text-align: left;
    color: #8A6C00;
    margin-left: 53%;
}

.about-fst {
    width: 570px;
    text-align: left;
    color: #8A6C00;
    margin-left: 56%;
    margin-top: 6%;
}

.itinerary-header {
    width: 570px;
    text-align: left;
    color: #8A6C00;
    margin-left: 53%;
    margin-top: 6%;
    margin-bottom: -5%;
    font-size: 20px;
}

.itinerary-header-fst {
    width: 570px;
    text-align: left;
    color: #8A6C00;
    margin-left: 56%;
    margin-top: 6%;
    margin-bottom: -5%;
    font-size: 20px;
}

.itinerary-fst {
    width: 570px;
    text-align: left;
    color: #8A6C00;
    margin-left: 56%;
    margin-top: 6%;
    margin-bottom: -3%;
}

.paym-header-fst {
    width: 570px;
    text-align: left;
    color: #8A6C00;
    margin-left: 56%;
    margin-top: 10%;
    margin-bottom: -7%;
    font-size: 20px;
}

.paym-fst {
    width: 570px;
    text-align: left;
    color: #8A6C00;
    margin-left: 56%;
    margin-top: 6%;
    margin-bottom: -3%;
}

.itinerary {
    width: 570px;
    text-align: left;
    color: #8A6C00;
    margin-left: 53%;
    margin-top: 6%;
    margin-bottom: -3%;
}

/*.festival-map {
    margin-top: 10%;
    margin-left: 30%;
    margin-bottom: -20%;
    border: 3px solid #8A6C00;
}*/

.btn-fst {
    color: white;
    background-color: #8A6C00;
    font-size: 15px;
    margin-top: 80px;
    margin-left: 810px;
    border-color: #8A6C00;
}

.btn-fst:hover {
    background: #4d6871;
    color: white;
    border-color: #4d6871;
}

.bg-image-img7 {
    background-image: url("../images/festival1-sml.jpg");
    margin-top: 70px;
    margin-left: 5%;
    min-height: 500px;
    min-width: 680px;
}

.bg-image-img8 {
    background-image: url("../images/festival2-sml.jpg");
    margin-left: 5%;
    min-height: 500px;
    min-width: 680px;
}

.bg-image-img9 {
    background-image: url("../images/festival3.jpg");
    margin-left: 5%;
    margin-bottom: 5%;
    min-height: 500px;
    min-width: 680px;
}

.bg-color-contact {
    margin-top: 20px;
}

.elmina-logo {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 30px;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    margin-left: 127%;
    border: 3px solid #8A6C00;
    padding: 12px 10px;
    background: #8A6C00;
    color: white;
    white-space: nowrap;
}

.elmina-headline {
    margin-top: -1750px;
    text-decoration: underline;   
    margin-left: 56%;
    color: #8A6C00;
    font-size: 1.3rem;
    width: 570px;
}

.elmina-title {
    text-align: center;
    margin-top: 180px;
    margin-left: -420px;
    font-size: 27px;
    white-space: nowrap;
    color: #8A6C00;
}


.about-elm {
    width: 570px;
    text-align: left;
    color: #8A6C00;
    margin-left: 56%;
    margin-top: 6%;
}

.itinerary-header-elm {
    width: 570px;
    text-align: left;
    color: #8A6C00;
    margin-left: 56%;
    margin-top: 6%;
    margin-bottom: -5%;
    font-size: 20px;
}

.itinerary-elm {
    width: 570px;
    text-align: left;
    color: #8A6C00;
    margin-left: 56%;
    margin-top: 6%;
    margin-bottom: -3%;
}

.paym-header-elm {
    width: 570px;
    text-align: left;
    color: #8A6C00;
    margin-left: 56%;
    margin-top: 10%;
    margin-bottom: -7%;
    font-size: 20px;
}

.paym-elm {
    width: 570px;
    text-align: left;
    color: #8A6C00;
    margin-left: 56%;
    margin-top: 6%;
    margin-bottom: -3%;
}

.bg-image-img10 {
    background-image: url("../images/kakum-sml.jpg");
    margin-top: 70px;
    margin-left: 5%;
    min-height: 500px;
    min-width: 680px;
}

.bg-image-img11 {
    background-image: url("../images/e2.jpg");
    margin-left: 5%;
    min-height: 723px;
    min-width: 680px;
}

.bg-image-img12 {
    background-image: url("../images/ghana-beach2-sml.jpg");
    margin-left: 5%;
    margin-bottom: 5%;
    min-height:500px;
    min-width: 680px;
}

.btn-elm {
    color: white;
    background-color: #8A6C00;
    font-size: 15px;
    margin-top: 100px;
    margin-left: 820px;
    border-color: #8A6C00;
}

.btn-elm:hover {
    background: #4d6871;
    color: white;
    border-color: #4d6871;
}

.aburi-logo {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 30px;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    margin-left: 127%;
    border: 3px solid #8A6C00;
    padding: 12px 10px;
    background: #8A6C00;
    color: white;
    white-space: nowrap;
}

.aburi-title {
    text-align: center;
    margin-top: 180px;
    margin-left: -570%;
    font-size: 27px;
    white-space: nowrap;
    color: #8A6C00;
}

.bg-image-img13 {
    background-image: url("../images/aburi-sml.jpg");
    margin-top: 70px;
    margin-left: 10%;
    min-height: 723px;
    min-width: 600px;
}

.bg-image-img14 {
    background-image: url("../images/quadbike-sml.jpg");
    margin-left: 10%;
    margin-bottom: 5%;
    min-height: 450px;
    min-width: 600px;
}

.aburi-headline {
    width: 610px;
    text-align: left;
    color: #8A6C00;
    margin-top: -1230px;
    margin-left: 53%;
    margin-bottom: -4%;
    text-decoration: underline;
}

.aburi-about {
    width: 570px;
    text-align: left;
    color: #8A6C00;
    margin-left: 53%;
    margin-top: 6%;
}

.aburi-itinerary-header {
    width: 570px;
    text-align: left;
    color: #8A6C00;
    margin-left: 53%;
    margin-top: 6%;
    margin-bottom: -5%;
    font-size: 20px;
}

.abr-paym-header {
    width: 570px;
    text-align: left;
    color: #8A6C00;
    margin-left: 53%;
    margin-top: 10%;
    margin-bottom: -7%;
    font-size: 20px;
}

.abr-paym {
    width: 570px;
    text-align: left;
    color: #8A6C00;
    margin-left: 53%;
    margin-top: 6%;
    margin-bottom: -3%;
}

.aburi-itinerary {
    width: 570px;
    text-align: left;
    color: #8A6C00;
    margin-left: 53%;
    margin-top: 6%;
    margin-bottom: -3%;
}

.gallery-title {
    text-align: center;
    margin-top: 180px;
    margin-left: 143%;
    margin-bottom: 10%;
    font-size: 27px;
    white-space: nowrap;
    color: #8A6C00;
}

.gallery-p {
    width: 800px;
    text-align: center;
    color: #8A6C00;
    margin-left: 63%;
    margin-top: 6%;
    margin-bottom: 10%;
}

.video {
    margin-left: 30%;
    margin-bottom: 10%;
    border: 4px solid #8A6C00;
}

.bg-image-img15 {
    background-image: url("../images/g1.jpg");
    min-height: 700px;
    min-width: 500px;    
}

.bg-image-img16 {
    background-image: url("../images/g2.jpg");
    min-height: 700px;
    min-width: 30px; 
    margin-top: -48.6%;
    margin-left: 58.3%;
}

.bg-image-img17 {
    background-image: url("../images/g3.jpg");
    min-height: 700px;
    min-width: 400px; 
}

.bg-image-img18 {
    background-image: url("../images/g4.jpg");
    min-height: 700px;
    min-width: 400px; 
    margin-top: -48.7%;
    margin-left: 50%;
}

.bg-image-img19 {
    background-image: url("../images/g5.jpg");
    min-height: 700px;
    min-width: 350px; 
    
}

.bg-image-img20 {
    background-image: url("../images/g6.jpg");
    min-height: 700px;
    min-width: 650px; 
    margin-top: -48.7%;
    margin-left: 41.7%;
}

.bg-image-img21 {
    background-image: url("../images/g7.jpg");
    min-height: 700px;
    min-width: 200px;
    margin-top: 0%;
}

.bg-image-img22 {
    background-image: url("../images/g8.jpg");
    min-height: 700px;
    min-width: 300px; 
    margin-top: -48.6%;
    margin-left: 58.3%;
}

.bg-image-img23 {
    background-image: url("../images/g9.jpg");
    min-height: 700px;
    min-width: 450px; 
    margin-top: 0%;
    margin-left: 0%;
}

.bg-image-img24 {
    background-image: url("../images/g10.jpg");
    min-height: 700px;
    min-width: 600px; 
    margin-top: -48.7%;
    margin-left: 58.3%;
}

.gallery-social-links {
    margin-right: -5%;
    margin-top: 15%;
}

.contact-logo {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 30px;
    width: 17%;
    text-align: center;
    margin-top: 30px;
    margin-left: 570px;
    margin-bottom: 100px;
    color: white;
    background-color:#8A6C00; 
    border: 3px solid #8A6C00;
    padding: 12px 10px;
    white-space: nowrap;
}

.contact-title {
    text-align: center;
    margin-top: 160px;
    margin-left: 143%;
    margin-bottom: 60px;
    font-size: 27px;
    color: #8A6C00;
    white-space: nowrap;
}

.btn-book {
    background: #8A6C00;
    border: 3px solid #8A6C00;
    border-color: #8A6C00;
}

.form-control {
    border: 3px solid #8A6C00;
    margin-bottom: 7px;
    margin-left: 19%;
    width: 60%;
    background-color: rgb(255 255 255 / 0.4);
}

#bookinginfo {
    height: 300px;
}

.btn-book {
    color: white;
    font-size: 20px;
}

.btn-book:hover {
    background: #4d6871;
    color: white;
    border-color: #4d6871;
}

.social-links {
    margin-top: -10%;
    margin-left: 270%;
    white-space: nowrap;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    border: 1px solid #8A6C00;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: white;
    background: #8A6C00;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #4d6871;
}

.circle-up {
    font-size: 60px;
    color: rgb(138, 108, 0 , 0.7);
    background: transparent;
    margin-left: 1350%;
    margin-bottom: 50px;
    margin-top: -400%;
    padding-bottom: 0px;
}

.ab-social-links {
    padding-bottom: 0px;
    padding-top: 20px;
    margin-left: 275%;
    white-space: nowrap;
    margin-top: -10%;
}

.ab-social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    border: 1px solid white;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: white;
    background: #8A6C00;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.ab-social-links li a i:hover {
    background: #4d6871;
}

.aburi-social-links {
   white-space: nowrap;
   margin-left: 1240px; 
   margin-top: 500px;
}

.aburi-social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    border: 1px solid #8A6C00;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: white;
    background: #8A6C00;
    white-space: nowrap;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.aburi-social-links li a i:hover {
    background: #4d6871;
}

.elmina-social-links {
   white-space: nowrap;
   margin-left: 1180px; 
   margin-top: 300px;
}

.elmina-social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    border: 1px solid #8A6C00;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: white;
    background: #8A6C00;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.elmina-social-links li a i:hover {
    background: #4d6871;
}

.festivals-social-links {
   white-space: nowrap;
   margin-left: 1230px; 
   margin-top: 100px;
}

.festivals-social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    border: 1px solid #8A6C00;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: white;
    background: #8A6C00;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.festivals-social-links li a i:hover {
    background: #4d6871;
}

.contact-social-links {
   white-space: nowrap;
   margin-left: 1240px; 
   margin-top: 25px;
}

.contact-social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: white;
    background: rgb(138, 108, 0);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.contact-social-links li a i:hover {
    background: #4d6871;
}


body {
    background-color: #fff;
    width: 100vw !important;
}


@media(max-width: 480px) {

    .navbar {
        margin-top: 1%;
        background-color: rgb(255 255 255 / 90%);
        position: fixed;
    }
    
    .navbar2 { 
        margin-top: 1%;
        background-color: rgb(255 255 255 / 90%);
        position: fixed;
    }

    .navbar-toggler {
        background-color: rgb(255 255 255 / 60%);
        text-align: center;
    }

    .navbar-nav {
        background-color: rgb(138 108 0 / 100%);
    }

    .navbar-nav2 {
        background-color: rgb(255 255 255 / 100%);
    }

    .navbar3 { 
        margin-top: 1%;
        background-color: rgb(255 255 255 / 90%);
        position: fixed;
    }

    .navbar-nav3 {
        background-color: rgb(255 255 255 / 100%);
    }

    .logo {
        margin: auto;
        white-space: nowrap;
        width: 58%;
        position: absolute;
        top: 50%;
        left: 25%;
        margin-top: -73%;
        margin-left: -5%;
    }

    .logo-container {
        width: 100%;
    }

    .title {
        margin-top: 35%;
        margin-left: 5%;
    }

    .btn1 {
        margin-left: 10%;
        font-size: 20px;
    }

    .btn2 {
        margin-top: 20%;
        margin-right: 6%;
        font-size: 20px;
    }

    .btn3 {
        margin-left: -13%;
    }

    .social-links {
        margin-left: 25%;
        margin-top: -15%;
        margin-bottom: 0%;
    }

    .about-logo {
        margin-left: 56px;
        white-space: nowrap;
        width: 58%;
        margin-top: 15%;
    }

    .about-title {
        margin-top: 200%;
        margin-left: -6%;
        margin-bottom: 50%;
    }

    .about-bg {
        min-height: 100px;
        min-width: 10px;
        padding: 0%;
    }

    .about-img {
        margin-left: 9%;
    }

    .about-us {
        margin-left: 3.5%;
        width: 93%;
    }

    .ab-social-links {
        margin-left: 25%;
        margin-bottom: 5%;
        margin-top: -5%;
    }

    .btn4 {
        margin-left: -10%;
    }

    .festival-logo {
        width: 58%;
        margin-left: 20%;
        margin-top: 15%;
    }

    .festival-title {
        margin-left: 0%;
        margin-top: 135%;
    }

    .headline-fst {
        margin-left: 5%;
        margin-top: 10%;
        width: 90%;
        text-align: center;
    }

    .about-fst {
        margin-left: 7%;
        width: 86%;
        text-align: center;
    }
    
    .itinerary-header-fst {
        margin-left: 5%;
        width: 86%;
        margin-top: 12%;
        width: 95%;
        text-align: center;
    }

    .itinerary-fst {
        margin-top: 5%;
        text-align: center;
        margin-left: 7%;
        width: 86%;
    }
    
    .paym-header-fst {
        margin-top: 15%;
        margin-bottom: 0px;
        text-align: center;
        margin-left: 7%;
        width: 86%;
    }    

    .paym-fst {
        margin-top: -5%;
        text-align: center;
        margin-left: 7%;
        width: 86%;
    }

    .btn-fst {
        margin-left: 41%;
        margin-top: 10%;
    }

    .festivals-social-links {
        margin-left: 25%;
        margin-top: 13%;
        margin-bottom: 20%;
    }

    .bg-image-img7 {
        min-height: 450px;
        min-width: 50px;
        margin-left: 0px;
        margin-top: 20%;
        padding-left: 0px;
        border: 5px solid rgb(255, 255, 255);
    }

    .bg-image-img8 {
        min-height: 450px;
        min-width: 100px; 
        margin-left: 0px;
        padding-left: 0px;
        border: 5px solid rgb(255, 255, 255);
    }

    .bg-image-img9 {
        min-height: 450px;
        min-width: 100px; 
        margin-left: 0px;
        padding-left: 0px;
        border: 5px solid rgb(255, 255, 255);
    }

    .elmina-logo {
        width: 58%;
        margin-left: 20%;
        margin-top: 15%;
    }

    .elmina-title {
        margin-left: 5%;
        margin-top: 130%;
    }

    .elmina-headline {
        margin-left: 23%;
        margin-top: 10%;
        width: 50%;
        text-align: center;
    }

    .about-elm {
        margin-left: 7%;
        width: 86%;
        text-align: center;
    }
    
    .itinerary-header-elm {
        margin-left: 5%;
        width: 86%;
        margin-top: 12%;
        width: 95%;
        text-align: center;
    }

    .itinerary-elm {
        margin-top: 5%;
        text-align: center;
        margin-left: 7%;
        width: 86%;
    }
    
    .paym-header-elm {
        margin-top: 15%;
        margin-bottom: 0px;
        text-align: center;
        margin-left: 7%;
        width: 86%;
    }    

    .paym-elm {
        margin-top: -5%;
        text-align: center;
        margin-left: 7%;
        width: 86%;
    }

    .btn-elm {
        margin-left: 41%;
        margin-top: 10%;
    }

    .elmina-social-links {
        margin-left: 25%;
        margin-top: 16%;
        margin-bottom: 20%;
    }

    .bg-image-img10 {
        min-height: 450px;
        min-width: 50px;
        margin-left: 0px;
        padding-left: 0px;
        border: 5px solid rgb(255, 255, 255);
    }

    .bg-image-img11 {
        min-height: 450px;
        min-width: 100px; 
        margin-left: 0px;
        padding-left: 0px;
        border: 5px solid rgb(255, 255, 255);
    }

    .bg-image-img12 {
        min-height: 450px;
        min-width: 100px; 
        margin-left: 0px;
        padding-left: 0px;
        border: 5px solid rgb(255, 255, 255);
    }

    .aburi-logo {
        width: 58%;
        margin-left: 20%;
        margin-top: 15%;
    }

    .aburi-title {
        margin-left: 5%;
        margin-top: 115%;
    }

    .aburi-headline {
        margin-left: 5%;
        margin-top: 10%;
        width: 90%;
        text-align: center;
    }

    .aburi-about {
        margin-left: 7%;
        width: 86%;
        text-align: center;
    }
    
    .aburi-itinerary-header {
        margin-left: 5%;
        width: 86%;
        margin-top: 12%;
        width: 95%;
        text-align: center;
    }

    .aburi-itinerary {
        margin-top: 5%;
        text-align: center;
        margin-left: 7%;
        width: 86%;
    }
    
    .abr-paym-header {
        margin-top: 15%;
        margin-bottom: 0px;
        text-align: center;
        margin-left: 7%;
        width: 86%;
    }    

    .abr-paym {
        margin-top: -5%;
        text-align: center;
        margin-left: 7%;
        width: 86%;
    }

    .btn-abr {
        margin-left: 42%;
        margin-top: 15%;
    }

    .aburi-social-links {
        margin-left: 25%;
        margin-top: 16%;
        margin-bottom: 20%;
    }

    .bg-image-img13 {
        min-height: 450px;
        min-width: 50px;
        margin-left: 0px;
        padding-left: 0px;
        border: 5px solid rgb(255, 255, 255);
    }

    .bg-image-img14 {
        min-height: 450px;
        min-width: 100px; 
        margin-left: 0px;
        padding-left: 0px;
        border: 5px solid rgb(255, 255, 255);
    }

    .contact-logo {
        width: 58%;
        margin-left: -3%;
        margin-top: 15%;
    }    

    .contact-bg {
        min-height: 100px;
    }

    .contact-title {
        margin-left: 30%;
        margin-top: 60%;
    }

    .form-control {
        margin-left: 11px;
        width: 350px;
    }

    .btn-book {
        margin-left: 6%;
    }

    .contact-social-links {
        margin-top: 10%;
        margin-left: 30%;
        border-color: #8A6C00;
    }
}

@media(max-width: 1200px) {
    .logo {
        margin-left: 490px;
    }

    .bg-image-img13 {
        min-height: 733px;
    }

    .social-links {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .about-logo {
        width: 70%;
    }

    .about-title {
        margin-left: -350px;
    }

    .about-us {
        margin-left: 27%;
    }
    
    .festivals-social-links {
        margin-left: 1030px;     
    }

    .bg-image-img7 {
        margin-left: 0%;
        min-width: 650px;
    }

    .bg-image-img8 {
        margin-left: 0%;
        min-width: 650px;
    }

    .bg-image-img9 {
        margin-left: 0%;
        min-width: 650px;
    }

    .festival-title {
        margin-left: -730%;
    }

    .headline-fst {
        margin-top: -1560px;
        margin-left: 57%;
    }
    
    .about-fst {
        width: 480px;
        margin-left: 57%;
    }

    .itinerary-header-fst {
        margin-left: 57%;
        margin-top: 3%;
    }
    
    .itinerary-fst {
        margin-left: 57%;
        width: 480px;
    }

    .paym-header-fst {
        margin-left: 57%;
        margin-top: 7%;
    }

    .paym-fst {
        margin-left: 57%;
        width: 480px;
    }

    .festivals-social-links {
        margin-top: 100px;
    } 
    
    .elmina-title {
        margin-left: -530%;
    }

    .elmina-headline {
        width: 450px;
        margin-top: -1719px;
        margin-left: 57%;
    }

    .bg-image-img10 {
        margin-left: 0%;
        min-width: 650px;
    }

    .bg-image-img11 {
        margin-left: 0%;
        min-width: 650px;
        min-height: 650px;
    }

    .bg-image-img12 {
        margin-left: 0%;
        min-width: 650px;
    }
    
    .about-elm {
        width: 480px;
        margin-left: 57%;
    }

    .itinerary-header-elm {
        margin-left: 57%;
        margin-top: 3%;
    }
    
    .itinerary-elm {
        margin-left: 57%;
        width: 480px;
    }

    .paym-header-elm {
        margin-left: 57%;
        margin-top: 7%;
    }

    .paym-elm {
        margin-left: 57%;
        width: 480px;
    }

    .elmina-social-links {
        margin-top: 300px;
        margin-left: 1000px; 
    }

    .aburi-title {
        margin-left: -400%;
    }

    .aburi-headline {
        width: 450px;
        margin-top: -1250px;
        margin-left: 57%;
    }

    .bg-image-img13 {
        margin-left: 0%;
        min-width: 650px;
    }

    .bg-image-img14 {
        margin-left: 0%;
        min-width: 650px;
        min-height: 450px;
    }

    
    .aburi-about {
        width: 480px;
        margin-left: 57%;
    }

    .aburi-itinerary-header {
        margin-left: 57%;
        margin-top: 3%;
    }
    
    .aburi-itinerary {
        margin-left: 57%;
        width: 480px;
    }

    .abr-paym-header {
        margin-left: 57%;
        margin-top: 7%;
    }

    .abr-paym {
        margin-left: 57%;
        width: 480px;
    }

    .aburi-social-links {
        margin-top: 300px;
        margin-left: 1000px; 
    }


    .gallery-title {
        margin-left: 148%;
    }

    .gallery-p {
        margin-left: 50%;
    }

    .video {
        margin-left: 26%;
    }

    .bg-image-img16 {
        margin-top: -58.3%;
    }

    .bg-image-img18 {
        margin-top: -58.4%;
    }

    .bg-image-img20 {
        margin-top: -58.3%;
    }

    .bg-image-img22 {
        margin-top: -58.3%;
    }

    .bg-image-img24 {
        margin-top: -58.4%;
        margin-left: 50.1%;
    }

    .contact-logo {
        width: 25%;
        margin-left: 37%;
    }

    .contact-title {
        margin-left: 145%;
        margin-top: 60%;
    }

    .contact-social-links {
        margin-left: 700px;     
    }
}

@media(max-width: 1024px) {
    .logo {
        margin-left: 400px;
    }

    .contact-logo {
        margin-left: 370px;
    }

    .about-title {
        margin-left: -280px;
    }    


}
